<p id="notice"><%= notice %></p>

<h1>Listing Citizenships</h1>

<table>
  <thead>
    <tr>
      <th>Country name</th>
      <th>Origin citizen</th>
      <th>Origin citizen for</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citizenships.each do |citizenship| %>
      <tr>
        <td><%= citizenship.country_name %></td>
        <td><%= citizenship.origin_citizen %></td>
        <td><%= citizenship.origin_citizen_for %></td>
        <td><%= link_to 'Show', citizenship %></td>
        <td><%= link_to 'Edit', edit_citizenship_path(citizenship) %></td>
        <td><%= link_to 'Destroy', citizenship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citizenship', new_citizenship_path %>
